html, body {
    height: 100%;
}

.viewcontainer{
    width: fit-content;

}

.button_bar {
    padding-top: 10px;
    padding-left: 80%;
}

.view-btn-bar{
    padding-top: 10px;
    padding-left: 280px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.card:hover{
    background-color:beige;
}

.backBtn{
    float: left;
}

@media only screen and (max-width: 600px){
    .view-btn-bar{
        padding-top: 10px;
        padding-left: 30%;
    }
}